<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lesson 2 | {{title}}</title>

        <style>
            body{
                position: relative;
            }
            h1{
                text-align: center;
            }
            h4{
                color: green;
                padding: 5px 10px;
                text-align: center;
            }
            .info{
                display: block;
                text-align: center;
            }
            .container {
                margin: 0 auto;
                padding: 30px;
                width: 400px;
                height: 400px;
                border: 1px solid black;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <h1>{{title}}</h1>
            {{#if message}}
                <h4>{{message}}</h4>
            {{/if}}
            <a class="info" href="{{link_url}}" title="{{link_title}}">{{link_title}}</a>
        </div>
    </body>
</html>