<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Lesson 2 | Register</title>

        <style>
            body{
                position: relative;
            }
            h1{
                text-align: center;
            }
            h4{
                color: red;
                border: 1px solid red;
                padding: 5px 10px;
                text-align: center;
            }
            label{
                font-weight: bold;
            }
            input:not([type="submit"]){
                width: 100%;
            }
            input[type="submit"]{
                display: block;
                margin: 30px auto 0 auto;
                padding: 10px 40px;
            }
            .container {
                margin: 0 auto;
                padding: 30px;
                width: 400px;
                height: 400px;
                border: 1px solid black;
            }
        </style>

    </head>
    <body>
        <div class="container">
            <h1>Registration</h1>
            {{#if errorMessage}}
            <h4 style="color: red">{{errorMessage}}</h4>
            {{/if}}
            <form action="/register" method="post">
                <p>
                    <label for="user-name">User name<i style="color: red">*</i>: </label><br/>
                    <input id="user-name" name="name" value="" type="text" />
                </p>
                <p>
                    <label for="user-email">User email<i style="color: red">*</i> : </label><br/>
                    <input id="user-email" name="email" value="" type="email" />
                </p>
                <p>
                    <label for="user-password">User password<i style="color: red">*</i>: </label><br/>
                    <input id="user-password" name="password" value="" type="text"/>
                </p>
                <p><input id="user-submit" type="submit" value="Register" /></p>
            </form>
        </div>
    </body>
</html>