<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson 2 | User details</title>
</head>
<body>
    <h1>User data</h1>
    <h3>Name</h3>
    <p>{{name}}</p>
    <hr>
    <h3>Email</h3>
    <p>{{email}}</p>
    <hr>
    <h3>Password</h3>
    <p>{{password}}</p>
</body>
</html>