<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson 2 | Users</title>
    <style>
        table{
            margin: 0 auto;
            width: 90%;
            text-align: center;
            border-left: 1px solid black;
            border-top: 1px solid black;
        }
        th,td{
            padding: 5px 10px;
            border-right: 1px solid black;
            border-bottom: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Users list</h1>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {{#each users}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.password}}</td>
            <td><a href="/users/{{this.email}}" title="Read more">Read more</a> </td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</body>
</html>